:root {
  --nil: #2d25a0;
}
/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* ----------
Common CSS
------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header part start */

header {
  background: var(--nil);
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 42px;
  margin-bottom: 49px;
}

nav a {
  text-decoration: none;
  color: #fff;
  margin-right: 36px;
  padding: 10px;
}

.heading-part {
  height: 100%;
  padding: 0 1rem 86px;
}

.heading-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heading-part .heading-title h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 64px;
  color: #fff;
  line-height: 80px;
  padding: 20px 0;
}

.heading-banner img {
  width: 556px;
  height: 438px;
}

/* Main */

.header-full {
  background-color: var(--nil);
  width: 100%;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 27px;
  margin: 70px;
}
.players .player {
  width: 330px;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
  padding: 15px;
}
.players .player img {
  width: 300px;
  height: 256px;
}

.players .player .player-name {
  font-size: 28px;
  color: #18191f;
}

p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.button {
  padding: 10px 24px;
  background: #e02c6d;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.button:hover {
  background: green;
}

/* Highlights */

.highlights {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4rem 0;
}

.highlights-banner {
  padding-left: 2rem;
}

.highlights-banner img {
  width: 567px;
}

.highlights-details h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}
.highlights p {
  margin-bottom: 2rem;
}

/* Sign up part */

.cta {
  background-color: rgb(1, 8, 1);
  padding: 2rem;
  text-align: center;
  color: #fff;
}

.cta-capture {
  max-width: 768px;
  margin: 1rem auto 0;
}

.cta-capture input {
  width: 60%;
  display: inline-block;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  border-radius: 4rem 0 0 4rem;
  outline: none;
}

.cta-capture button {
  background-color: #e02c6d;
  border: none;
  color: #fff;
  display: inline-block;
  padding: 0.8rem 2rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 0 4rem 4rem 0;
  cursor: pointer;
  transition: all 0.5s ease;
}
.cta-capture button:hover {
  background: #fff;
  color: #e02c6d;
}

/* Footer Part */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
}
footer img {
  width: 483px;
}

footer i {
  margin-right: 14px;
  color: #45474c;
  background: #969bab;
  padding: 5px;
  border-radius: 45%;
  margin: 20px;
}

/* Media Queries */

@media only screen and (max-width: 1050px) {
  header {
    display: none;
  }
  .highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
  }
  .highlights-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flex {
    flex-direction: column;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .highlights-banner img {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
  }
  .players {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 27px;
    margin: 70px;
  }
  .cta-capture button {
    background-color: #e02c6d;
    border-radius: 15px;
    padding: 0.2rem 0.5rem;
    margin-top: 0.5rem;
  }
  .cta-capture input {
    width: 80%;
    border-radius: 15px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 425px) {
  .players {
    grid-template-columns: 1fr;
  }
}
